.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 2.5rem;

  button {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
  }
}
