.hero {
  display: flex;
  width: auto;

  padding: 0 4rem;
  justify-content: space-between;

  @media screen and (max-width: 400px) {
    padding-inline: 2rem;
  }
  gap: 10px;
  .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
    row-gap: 2rem;
    // width: 55%;
    // border: 2px solid red;

    h1 {
      font-size: 56px;
      line-height: 78px;
      font-weight: 700px;

      @media screen and (max-width: 400px) {
        font-size: 40px;
        line-height: 45px;
      }

      span {
        color: #a02279;
      }
    }

    h4 {
      font-weight: 400;
    }

    .input_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      input[type="text"] {
        padding: 15px;
        border: 1px solid #a3a3a3;
        border-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 65%;
        // border: 2px solid red;
      }
      button {
        background-color: #a02279;
        padding: 16px 20px;
        width: 30%;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: white;
        margin-left: -2px;
      }
    }
  }

  //   img {
  //     width: 400px;
  //     // max-width: 500px;
  //     // max-width: 400px;
  //     // height: 459px;s
  //     // object-fit: cover;
  //   }

  .img_wrapper {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;

      // height: 100%;
      //   border: 2px solid green;
    }

    @media screen and (max-width: 900px) {
      width: 70%;
      img {
        object-fit: cover;
      }
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      img {
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;

    row-gap: 2rem;
    text-align: center;
    .hero_text {
      .input_wrapper {
        justify-content: center;
      }
    }
  }
}

.banner {
  // width: calc(100% + 8rem);
  margin-block: 2rem;
  // margin-right: -4rem;
  // margin-left: -4rem;

  // width: 100%;
  // margin-left: 50%;
  // transform: translateX(-50%);
  // max-width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a02279;
  color: white;
  padding-block: 15px;
  // @media screen and (max-width: 400px) {
  //   margin: 0rem -1rem;
  // }

  div {
    display: flex;
    align-items: center;
    column-gap: 4px;
    // img {
    //   border: 1px solid red;
    // }
  }
}

.showcase_wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 2rem 4rem;
  text-align: center;
  will-change: transform;
  transition: all 0.3s ease-in;
  @media screen and (max-width: 400px) {
    padding-inline: 2rem;
  }
  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    .card_div {
      width: 250px;
      height: 350px;
      border-radius: 15px;
      border: 1px solid #d7d7d7;
      will-change: transform;
      transition: all 0.3s ease-in;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 0.5rem;
      background-color: white;
      img {
        width: 100%;
        height: 75%;
        border-radius: 15px;
        object-fit: cover;
      }
      .details {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
        padding: 0;
        flex-direction: row;

        div {
          width: 100%;
          height: 100%;
          padding: 0;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.9rem;
          span {
            font-size: 12px;
            font-weight: 400;
            text-align: start;
          }
        }

        div:nth-child(1) {
          .rating {
            // width: 100%;
            display: flex;
            flex-direction: row;
          }
        }
        // div:nth-child(2) {
        //   text-align: start;
        // }
      }
    }
  }
}

.about {
  width: auto;

  padding: 2rem 4rem;
  height: 100vh;
}
