.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  
}

.modal-main {
  position: relative;
  background: white;
  width: 40%;

  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: none;
  border-radius: 16px;

  @media screen and (max-width: 800px) {
    width: 70%;
  }
  .modal_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: block;
      font-weight: 700;
      font-size: 24px;
    }
  }
  .border {
    width: 100%;
    position: absolute;
    margin: 0 -20px;
    top: 61px;
    border-bottom: 1px solid #cfd8dc;
  }
  .modal_wallet {
    width: 100%;

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    p {
      font-weight: 400;
      font-size: 16px;
    }
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cfd8dc;
      border-radius: 12px;
      width: 100%;
      padding: 12px 20px;
      font-size: 18px;

      //   text-align: start;
      //   border: 1px solid red;
      span:nth-child(1n) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        font-weight: 600;
      }

      span:nth-child(2n) {
        svg {
          polyline {
            stroke: #959da6;
          }
        }
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
